h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .movie-card {
    background-color: rgba(226, 160, 73, 0.8); /* Usaremos el mismo color del contenedor pero con una transparencia para que se vea más integrado */
    width: 60%;
    height: 120px;
    border-radius: 10px;
    margin: 0;
    padding: 10px; /* Agregamos un poco de espacio interno para separar los elementos internos */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para resaltar la tarjeta */
    display: flex; /* Añadimos un flex container para organizar los elementos internos */
    flex-direction: column; /* Organizaremos los elementos en columna */
    justify-content: space-between; /* Distribuimos los elementos verticalmente con espacio entre ellos */
  }
  
  .movie-card label {
    font-weight: bold;
  }
  
  .nombre-pelicula {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px; /* Agregamos un poco de margen inferior para separar los elementos */
  }
  
  .datos-pelicula {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  