/* MovieForm styles */
.movie-form {
  width: 70%;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 18px rgba(0, 54, 134, 0.1);
}

.movie-form div {
  margin-bottom: 10px;
}

.movie-form label {
  display: block;
  font-weight: bold;
}